<footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 <a href="index.html" target="_blank">Clap Station</a>. All rights reserved.</span>
              <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                  Design & Developed by <a href="https://www.netcoreinfo.com" target="_blank">Netcoreinfo Group</a>
              </span>
            </div>
          </footer>