{% extends "base.html" %}
{% load static %}


{% block aboutUs %}


<!--webpage-->
{% comment %} <div style="display: flex;top:0">
	<div class="container" style="background-image:linear-gradient(rgba(0, 0, 0, 0.258),rgba(0, 0, 0, 0.887)), url(static/img/image6.jpg);background-size:cover;height:500px;width:100%">
		<div class="row">
			<h1
				style="text-align: center;color:rgba(250, 247, 247, 0.948);font-family:'Times New Roman', Times, serif;padding-top:25%;font-size:90px;padding-left:200px">
				About Us</h1>
			<!-- <h3
				style="text-align: center;color:white;padding-top:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, nesciunt?</h3> -->
			<button class="btn"
				style="text-align: center; margin-left:63%;margin-top:20px;background-color:rgba(221, 65, 8, 0.978);color:white">Know
				More ---</button>
		</div>
	</div>
</div><!--webpage-->
<!-- Start Timeline -->
<!-- End Timeline -->


<section class="about-section" style="background-color: aliceblue;">
	<div class="container">
		<div class="row">                
			<div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
				<div class="inner-column">
					<div class="sec-title">
						<!-- <span class="title">About Company</span> -->
						<h2>ABOUT US </h2>
					</div>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</div>
					<ul class="list-style-one">
						<li>Lorem Ipsum is simply dummy tex</li>
						<li>Consectetur adipisicing elit</li>
						<li>Sed do eiusmod tempor incididunt</li>
					</ul>
					<div class="btn-box">
						<a href="#" class="theme-btn btn-style-one">Know More</a>
					</div>
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column wow fadeInLeft">
					<figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img src="https://i.ibb.co/QP6Nmpf/image-1-about.jpg" alt=""></a></figure>
					<figure class="image-2"><a href="#" class="lightbox-image" data-fancybox="images"><img src="https://i.ibb.co/JvN0NVB/image-2-about.jpg" alt=""></a></figure>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="gtco-testimonials" style="background-color: rgba(240, 248, 255, 0.585);">
	<h2 style="padding-top: 50px;font-family:'Times New Roman', Times, serif;font-size:100px;color:#754f0f">Our Team Members</h2>
	<!-- <hr> -->
	<div class="owl-carousel owl-carousel1 owl-theme">
	  <div>
		<div class="card text-center"><img class="card-img-top" src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300" alt="">
		  <div class="card-body">
			<h5>Ronne Galle <br />
			  <span> Project Manager </span>
			</h5>
			<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
			  impedit quo minus id quod maxime placeat ” </p>
		  </div>
		</div>
	  </div>
	  <div>
		<div class="card text-center"><img class="card-img-top" src="https://images.unsplash.com/photo-1588361035994-295e21daa761?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=301" alt="">
		  <div class="card-body">
			<h5>Missy Limana<br />
			  <span> Engineer </span>
			</h5>
			<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
			  impedit quo minus id quod maxime placeat ” </p>
		  </div>
		</div>
	  </div>
	  <div>
		<div class="card text-center"><img class="card-img-top" src="https://images.unsplash.com/photo-1575377222312-dd1a63a51638?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=302&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=302" alt="">
		  <div class="card-body">
			<h5>Martha Brown<br />
			  <span> Project Manager </span>
			</h5>
			<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
			  impedit quo minus id quod maxime placeat ” </p>
		  </div>
		</div>
	  </div>
	  <div>
		<div class="card text-center"><img class="card-img-top" src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303" alt="">
		  <div class="card-body">
			<h5>Hanna Lisem<br />
			  <span> Project Manager </span>
			</h5>
			<p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
			  impedit quo minus id quod maxime placeat ” </p>
		  </div>
		</div>
	  </div>
	</div>
  </div>


<div class="container" style="height:200px">
	<div class="row">
		<div class="col">
			<h1 style="text-align: center;color:white;padding-top:30px;font-family:'Times New Roman', Times, serif">
				Meet Our Professional Artists</h1>
			<br>
			<h3
				style="text-align: center;color:white;font-family:'Times New Roman', Times, serif;padding-left:200px;padding-right:100px">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum doloremque commodi aspernatur hic quo
				quas aut illum cumque nostrum excepturi?</h3>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="our-team">
				<div class="pic">
					<img src="{% static 'img/images1.jpg' %}" alt="My image">
				</div>
				<div class="team-content">
					<h3 class="title">Williamson</h3>
					<span class="post">Musician</span>
					<ul class="social">
						<li><a href="#"><i class="fab fa-facebook"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="our-team">
				<div class="pic">
					<img src="{% static 'img/images1.jpg' %}" alt="My image">
				</div>
				<div class="team-content">
					<h3 class="title">Williamson</h3>
					<span class="post">Dancer</span>
					<ul class="social">
						<li><a href="#"><i class="fab fa-facebook"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="our-team">
				<div class="pic">
					<img src="{% static 'img/images1.jpg' %}" alt="My image">
				</div>
				<div class="team-content">
					<h3 class="title">Kristiana</h3>
					<span class="post">Performer</span>
					<ul class="social">
						<li><a href="#"><i class="fab fa-facebook"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div> {% endcomment %}

<div class="example">
	<img src="{% static 'img/about12.jpg' %}" />
	<p>About Us</p>	

</div>


<div class="test">
	<div class="aboutimg">
		<img src="{% static 'img/stage.jpg' %}" alt="">

	</div>
	<div class="abouttext">
		<h1>Who we are </h1>
		<br>
		<br>
		<br>
		<p>Aliquyam accusam clita nonumy ipsum sit sea clita ipsum clita, ipsum dolores amet voluptua duo dolores et sit ipsum rebum, sadipscing et erat eirmod diam kasd labore clita est. Diam sanctus gubergren sit rebum clita amet, sea est sea vero sed et. Sadipscing labore tempor at sit dolor clita consetetur diam. Diam ut diam tempor no et, lorem dolore invidunt no nonumy stet ea labore, dolor justo et sit gubergren diam sed sed no ipsum. Sit tempor ut nonumy elitr dolores justo aliquyam ipsum stet</p>

	</div>
</div>

<div class="allabout" style="background-color:wheat;">



<div class="container" style="background-color:wheat; width:90%;">
	<div class="row">
	  <div class="col-12">
		<div class="title-heading">
		  Let's know more about us
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
		<div class="card">
		  <div class="card-body">
			<br>
			<h4 class="card-title">What we actually do</h4>
			<div class="card-image" style="color: #213661;">
			  <i class="fas fa-laptop-code fa-5x"></i>
			</div>
			<p class="card-text " style="margin:2%" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo</p>
			<br>
		  </div>
		</div>
	  </div>
	   <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
		<div class="card">
		  <div class="card-body">
			<br>
			<h4 class="card-title">Our Mission</h4>
			<div class="card-image" style="color: #5e371b;">
			  <i class="fas fa-chalkboard-teacher fa-5x"></i>
			</div>
			<p class="card-text" style="margin:2%" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
			<br>
		  </div>
		</div>
	  </div>
	   <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
		<div class="card">
		  <div class="card-body">
			<br>
			<h4 class="card-title">Our Vission</h4>
			<div class="card-image" style="color:#bc3330;">
			  <i class="fas fa-bullseye fa-5x"></i>
			</div>
			<p class="card-text" style="margin:2%" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo</p>
			<br>
		  </div>
		</div>
	  </div>
	</div>
	<br>
	<br>
</div>

</div>


{% comment %} <div class="ourteam">

	<div class="container">
		 
		<div class="row heading">
			  <div class="col-md-6 col-md-offset-3">
				<h1 class="text-center bottom-line">Meet Our Team</h1>
				<p class="subheading text-center">We are a team of artist</p>
			</div>
		</div>
		<br> {% endcomment %}
		

		{% comment %} <div class="row team-row">
	
			<div class="col-md-4 col-sm-6 team-wrap">
				<div class="team-member text-center">
					<div class="team-img">
						<img src="http://deothemes.com/envato/enigma/html/img/team_1.jpg" alt="">
						<div class="overlay">
							<div class="team-details text-center">
								<p>
								Our web design team will spend time with our digital marketing team.
								</p>
								<div class="socials mt-20">
									<a href="#"><i class="fa fa-facebook"></i></a>
									  <a href="#"><i class="fa fa-twitter"></i></a>
									  <a href="#"><i class="fa fa-google-plus"></i></a>
									  <a href="#"><i class="fa fa-envelope"></i></a>
								</div>
							</div>
						</div>
					</div>
					<h6 class="team-title">John Marshall</h6>
					<span>Designer</span>
				</div>
			</div>


			<div class="col-md-4 col-sm-6 team-wrap">
				<div class="team-member text-center">
					<div class="team-img">
						<img src="http://deothemes.com/envato/enigma/html/img/team_2.jpg" alt="">
						<div class="overlay">
							<div class="team-details text-center">
								<p>
									Our web design team will spend time with our digital marketing team.
								</p>
								<div class="socials mt-20">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-envelope"></i></a>
								</div>
							</div>
						</div>
					</div>
					<h6 class="team-title">Steve Roberts</h6>
					<span>Photographer</span>
				</div>
			</div>


			<div class="col-md-4 col-sm-6 team-wrap">
				<div class="team-member last text-center">
					  <div class="team-img">
						  <img src="http://deothemes.com/envato/enigma/html/img/team_3.jpg" alt="">
						  <div class="overlay">
							  <div class="team-details text-center">
								  <p>
								  Our web design team will spend time with our digital marketing team.
								</p>
								<div class="socials mt-20">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-envelope"></i></a>
								</div>
							</div>
						</div>
					</div>
					<h6 class="team-title">Michael Cartney</h6>
					<span>Designer</span>
				</div>
			</div>
	
	
		</div> {% endcomment %}
	{% comment %} </div>
</div> {% endcomment %}

<div class="ourteam-text">
	<br>
	<br>
	<h1 class="text-center bottom-line">Meet Our Creative Team</h1>
	<br>
	{% comment %} <p class="subheading text-center">We are a team of artist</p> {% endcomment %}
</div>
<div class="slidingMembers">
<div id="main">
	<div class="containe">
		<div class="slide">
			<div class="item"
				style="background-image: url('../static/img/image8.jpg');">

				<div class="content">
					<div class="name">MARY BROWN</div>
					<div class="desc">Engineered around Porsche’s iconic 911 engine with unique hybrid
						technologies and delivering unsurpassed Porsche and hybrid performance,
					</div>
					<button style="color:black;" >More Info </button>
				</div>

			</div>
			<div class="item"
				style="background-image: url('../static/img/image9.jpg');">

				<div class="content">
					<div class="name">CHUNG SCHLUETER</div>
					<div class="desc">Engineered around Porsche’s iconic 911 engine with unique hybrid
						technologies and delivering unsurpassed Porsche and hybrid performance,
					</div>
					<button>More Info</button>
				</div>


			</div>
			<div class="item"
				style="background-image: url('../static/img/guitar1.jpg');">

				<div class="content">
					<div class="name">KELLY SAVALA</div>
					<div class="desc">The Ferrari 488 Pista is powered by the most powerful V8 engine in the
						Maranello marque’s history and is the company’s special series sports car
					</div>
					<button>More Info</button>
				</div>


			</div>
			<div class="item"
				style="background-image: url('../static/img/dancer2.jpg');">

				<div class="content">
					<div class="name">DAVID BELL</div>
					<div class="desc">Model S platforms unite powertrain and battery technologies for unrivaled
						performance, range and efficiency.
					</div>
					<button>More Info</button>
				</div>


			</div>
			<div class="item"
				style="background-image: url('../static/img/drum2.jpg');">

				<div class="content">
					<div class="name">ANN RICHMOND</div>
					<div class="desc">The C-Class Cabriolet shows an ever-fresh face to the sun. Four of you can
						take in the sky. Ride in coupelike comfort under a rich fabric top

					</div>
					<button>More Info</button>
				</div>


			</div>
			<div class="item"
				style="background-image: url('../static/img/piano.jpeg');">

				<div class="content">
					<div class="name">LINDSAY WATSON</div>
					<div class="desc">Chevrolet Bel Air Sport Coupé 6.7 V8 Manual, 385hp, 1962 · Back/Side of
						Chevrolet Bel Air Sport Coupé 6.7 V8 Manual, 385hp
					</div>
					<button>More Info</button>
				</div>


			</div>

		</div>
		<div class="button">
			<button class="prev" title="Previous"><i class="fa-solid fa-arrow-left"></i></button>
			<button class="next" title="Next"><i class="fa-solid fa-arrow-right"></i></button>
		</div>
	</div>
	<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>



<div class="become-partner">
	<br>
	<br>
	<br>
	<h3 style="color:yellow;" >GET INVOLVED IN OUR ARTIST COMMUNITY</h3>
	<br>
	<h1 style="color:white;">Want to Join Us ?</h1>
	<br>
	<br>
	<button class="" >Join Our Community</button>
</div>


<!--scroll-to-top-->
<a id="scrollToTop" class="scroll-hide" href=""><i class="fas fa-chevron-up"></i></a>
<!--scroll-to-top-->

{% endblock aboutUs %}